/* .vitepress/theme/custom.css */
/*
 自定义样式，覆盖默认主题样式
 */
body.no-sidebar .sidebar {
    display: none;
}
body.no-sidebar .content {
    margin-left: 0;
}


/* 隐藏页脚 */
.VPDocFooter {
    display: none;
}

/* 隐藏主题默认的更新时间 */
.VPLastUpdated{
    /*display: none;*/
}

.VPDoc .content-container{ /* 文档页 容器  */
    font-size: 17px !important;
    /*max-width: 768px !important;*/
}
.aside .aside-container{ /* 文档页 目录宽度 */
    width: 365px;
}
.VPDoc .VPDocOutlineItem .outline-link{  /* 文档页 目录字体大小 */
    font-size: 15px ;
}

/* 左上角网站名称 */
.VPNavBarTitle .title {
    font-size: 22px !important;
    -webkit-background-clip: text;
    background-clip: text;


    /*background: var(--vp-home-hero-name-background);*/
    /*-webkit-text-fill-color: var(--vp-home-hero-name-color);*/

    background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
    -webkit-text-fill-color: transparent;
}

/* Git最后更新时间 */
.LastUpdated {
    margin-bottom: 10px;
    /*margin-left: -10%;*/
    font-size: .9rem;
    /*float: right;*/
    text-align: right;
    color: rgba(60, 60, 67, 0.56);
}

/* 超过640px不显示 */
@media (max-width: 640px) {
    .LastUpdated {
        display: none;
    }
}

.vp-doc h1 {
    margin-bottom: 10px;
    margin-left: -8px !important;
}

.vp-doc h2 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    border-top: none !important;
    padding-top: 0px;
    margin-left: -8px !important;
}

.vp-doc h3 {
    margin-left: -8px !important;
    margin: 15px 0px ;
    /*margin-top: 20px !important;*/
    /*margin-bottom: 20px !important;*/
}


.vp-doc h4{
    margin-left: -8px !important;
    margin: 10px 0px;
}

.vp-doc h2 .header-anchor {
     top: 0px;
}



/* Markdown引用符号样式 */
.vp-doc blockquote {

    padding: 10px 16px;
    position: relative;

    border-radius: 8px;
    color: #275796;
    background-color: #e8f4fc;
    border-left: none;

    /*color: var(--vp-c-text-1);*/
    /*background-color: #fbf9fd;*/
    /*border-left: 3px solid #5db17d;*/


    /*color: var(--vp-c-text-2);*/
    /*border-radius: 0px 10px 10px 0px;*/
    /*background-color: var(--vp-c-gray-soft);*/
    /*background-color: #f8f8fe;*/
    /*background-color: #e6f6e6;*/
    /*background-color: #fafafa;*/
    /*border-left: 2px solid var(--vp-c-green-2);*/
    /*border-left: 2px solid var(--vp-c-indigo-1);*/
    /*border-radius: 8px;*/
}

mark {
    background: none; /* 去除默认的黄色背景 */
    color: red; /* 设置文字为红色 */
    /*font-weight: bold; !* 可选：加粗文字 *!*/
}

/* 行级代码样式 */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code{
    color: #d9702b;
    /*font-weight: 500;*/
    background: #f8f9fa;
}

/* 块代码样式 */
.vp-doc code {
    font-weight: bold;
}


.vp-doc div[class*='language-'] {
    background-color: #f8f8fe !important;
}

.vp-doc :lang(zh) {
    letter-spacing: 0.2em !important; /* 中文字符的间距 */
}


.vp-doc p,.vp-doc ul {
    /*margin: 10px 0px;*/
    margin-top: 0px;
    margin-bottom: 12px;
}

.vp-doc a {
    color: #1769e0;
    text-decoration: none;
}
.vp-doc a:hover {
    text-decoration: underline;
}


/* 针对 VitePress 默认侧边栏 */
.VPSidebar {
    /*display: none;*/
    background-color: #f8f8fe!important;
    overflow-y: auto; /* 保留滚动功能 */
    scrollbar-width: none; /* 针对 Firefox 隐藏滚动条 */
}

/*:root{*/
/*    --vp-sidebar-width:0px;*/
/*}*/

/* 针对 Webkit 浏览器（如 Chrome, Edge, Safari） */
.VPSidebar::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}

/* 目录标记样式 */
.outline-marker{
    background-color: #30a46c !important;
    width: 4px !important;
}



/* 图片层级 */
.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    margin: 10px 0px;
    box-shadow: 1px 2px 5px #0006;
    z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}


/* 侧边栏 文件夹样式*/
.VPSidebarItem h2,
.VPSidebarItem h3,
.VPSidebarItem h4{
    /*font-weight: 600 !important;*/
    font-size: 1.2rem !important;
    color: var(--vp-c-text-2) !important;
}
/* 侧边栏 文章标题样式*/
.VPSidebarItem p{
    /*font-weight: 500 !important;*/
    font-size: 1rem !important;;
    /*color: #1769e0 !important;*/
}

/* 导航栏样式 */
.VPNavBarMenuLink{
    /*font-weight: 600 !important;*/
    font-size: 1.1rem !important;
}


/*@font-face {*/
/*    font-family: 'customFont';*/
/*    src: url('../../../public/font/gbsn00lp.ttf') format('truetype');*/
/*}*/

:root {
    /* 主题基色 */
    /*--vp-c-brand-1: #18794e;*/
    /*--vp-c-brand-1: #30a46c;*/
    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-2);

    /* 侧边栏 宽度 */
    --vp-sidebar-width: 345px;
    /* 自定义字体 */
    /*--vp-font-family-base: "customFont";  */

    /* 首页下滑后导航透明 */
    .VPNavBar:not(.has-sidebar):not(.home.top) {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* 搜索框透明 */
    .DocSearch-Button {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    /* Feature透明 */
    .VPFeature {
        border: none;
        box-shadow: 0 10px 30px 0 rgb(0 0 0 / 15%);
        background-color: transparent;
    }

    /* 文档页侧边栏顶部透明 */
    .curtain {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }

    @media (min-width: 960px) {

        /* 文档页导航中间透明 */
        .VPNavBar:not(.home.top) .content-body {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(10px);
        }
    }

    /* 移动端大纲栏透明 */
    .VPLocalNav {
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
    }
}
.dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
}



