@import './rainbow.css';

:root {
    /* 主题基色 */
    /*--vp-c-brand-1: #18794e;*/
    /*--vp-c-brand-1: #30a46c;*/
    --vp-c-brand-1: var(--custom-a-1);
    /*--vp-c-brand-2: var(--custom-a-1);*/
    /*--vp-c-brand-3: var(--custom-a-1);*/

    /* 文档文本颜色 */
    --vp-c-text-1: #1f1f1f;

    /* 导航栏、A标签 active颜色 */
    --custom-a-1: #1769e0;

    /* 侧边栏 宽度 */
    --vp-sidebar-width: 325px;
    /* 自定义字体 */
    /*--vp-font-family-base: "customFont";  */

    /* 文档页 内容字体大小 */
    --font-size-content: 16px;
    /* 文档页 侧边栏字体大小 */
    --font-size-sidebar: 15px;

    --vp-nav-height: 56px;
    --vp-nav-logo-height: 20px;

    /* 侧边栏、代码块*/
    --vp-custom-block-code: #f0f4f9;


    /*--vp-font-family-base: Google Sans,Helvetica Neue,sans-serif;*/
    /*--vp-font-family-mono: Google Sans,Helvetica Neue,sans-serif !important;*/
    /*--vp-font-family-base: Helvetica Neue, ui-sans-serif, system-ui, sans-serif !important;*/

    /*--vp-font-family-base: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';*/
    /*--vp-font-family-mono: ui-monospace, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;*/
}

.BtnGroup-item.BtnGroup-item--selected{
    border-color: #red !important;
}

/* 960px以上生效 */
@media (min-width: 960px) {

    /* 文档页导航中间透明 */
    .VPNavBar:not(.home.top) .content-body {
        background-color: rgba(255, 255, 255, 0) !important;;
        backdrop-filter: blur(10px);
    }

    .container:has(.aside) .content{
        max-width: 850px !important;
    }

    /* 分类页特殊处理 */
    .container:has(.article-container) .content{
        padding: 0px 10px;
    }
    .VPDoc:has(.article-container){
        padding-top: 22px;
    }

    .VPHomeFeatures .box{
        padding: 20px 26px;
    }

    .vp-doc h1, .vp-doc h2, .vp-doc h3, .vp-doc h4{
        margin-left: -.7rem;
    }

    .VPHero .text{
        margin-top: 12px !important;
    }

}

/* 640px以下生效 */
@media (max-width: 640px) {

    :root{
        --font-size-content: 15px;
        --font-size-sidebar: 13px;
    }

    .divider,.divider-line{
        display: block !important;
    }

    /*--vp-home-hero-image-filter: blur(80px);*/
    .VPHero{
        padding-top: 30px !important;
        padding-bottom: 20px !important;
        /*background-image: var(--vp-home-hero-image-background-image);*/
        /*filter: blur(30px);*/
    }
    .VPHero .container{
        /*flex-direction: column-reverse;*/
    }

    .LastUpdated {
        /*display: none;*/
        /*margin-bottom: 0px;*/
        /*margin-left: -10%;*/
        margin-bottom: 15px !important;
        font-size: .7rem !important;
    }

    .views{
        background-size: .9rem !important;
    }

    .VPFeatures{
        padding-top: 0px !important;
    }
    .VPFeature{
        box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 15%);
        border-radius: 7px;
    }
    .VPHomeFeatures .box{
        padding: 10px 20px;
    }
    .VPHomeFeatures .title{
        font-size: .9rem;
    }
    .VPHomeFeatures .details{
        padding-top: 4px;
        line-height: 14px;
        font-size: .7rem;
    }
    .VPHomeFeatures .item{
        margin: 0 auto;
        width: 94%;
    }
    .VPDoc{
        padding-top: 18px !important;
        padding-bottom: 0px !important;
    }
    .vp-doc h1{
        font-size: 1.6rem !important;
        /*margin-bottom: 0px !important;*/
    }
    .vp-doc h2{
        font-size: 1.4rem !important;
        /*margin-top: 16px !important;*/
        /*margin-bottom: 10px !important;*/
    }
    .vp-doc h3{
        font-size: 1.3rem !important;
    }
    .vp-doc h4{
        font-size: 1.2rem;
    }
    .vp-doc h1, .vp-doc h2, .vp-doc h3, .vp-doc h4{
        margin-left: 0px !important;
    }

    .menu,.VPLocalNavOutlineDropdown button{
        font-size: .9rem !important;
        color: var(--vp-c-text-1) !important;
    }

    .VPSidebarItem h2[class='text'],
    .VPSidebarItem h3[class='text']{
        font-size: .9rem !important;
    }
    .VPSidebarItem h4[class='text']{
        font-size: .9rem !important;
    }
    .VPSidebarItem p[class='text']{
        font-size: .8rem !important;
    }

}


body.no-sidebar .sidebar {
    display: none;
}
body.no-sidebar .content {
    margin-left: 0;
}


/* 主页 居中 */
.VPHome{
    /*background-image: var(--vp-home-hero-image-background-image);*/
    /*filter: var(--vp-home-hero-image-filter);*/

    margin-bottom: 0px !important;
}
.VPHero{
    margin: auto !important;
    /*margin: 6% 0px !important;*/

    /*background-image: var(--vp-home-hero-image-background-image);*/
    /*filter: var(--vp-home-hero-image-filter);*/
}

.VPHero .text{
    opacity: .85;
}
/*#app{*/
/*    background-image: url("https://cn.bing.com//th?id=OHR.FibonacciAloe_ZH-CN8974137481_1920x1080.jpg&rf=LaDigue_1920x1080.jpg");*/
/*}*/

.VPImage{
    opacity: 0.8;
    /*transition: opacity 1s ease;*/
}

/* 首页功能块 */
.VPFeatures{
    /*padding-top: 24px !important;*/
    padding-bottom: 10px !important;
}

/* 首页 按钮 */
.VPButton.alt{
    color: var(--vp-c-text-3) !important;
    background-color: transparent !important;
    padding: 0px!important;
}
.actions{
    padding-top: 0px !important;
}

/* 首页 页脚 */
.VPFooter{
    border-top:none !important;
    /*background-color: #f8f8fe !important;*/
    /*background-color: #f5f7fa !important;*/
}


.message, .copyright{
    font-size: .7rem !important;
    color: var(--vp-c-text-3) !important;
}

.VPFooter .copyright img{
    width: 10px !important;
    margin: 0 5px;
    display: inline;
}

.VPFooter .copyright{
    display: inline-flex;
    align-items: center;
}


/* 文档页 页脚 */
.VPDocFooter {
    /*display: none;*/
    margin-top: 108px !important;
}

.VPDocFooter .edit-info{
    display: none;
}
.VPDocFooter .prev-next{
    border-top: none;
}
#giscus{
    border-top: none !important;
}

/* 针对 VitePress 默认侧边栏 */
.VPSidebar {
    /*display: none;*/
    /*background-color: #f8f8fe!important;*/
    background-color: var(--vp-custom-block-code) !important;
    overflow-y: auto; /* 保留滚动功能 */
    scrollbar-width: none; /* 针对 Firefox 隐藏滚动条 */
}

/*:root{*/
/*    --vp-sidebar-width:0px;*/
/*}*/

/* 针对 Webkit 浏览器（如 Chrome, Edge, Safari） */
.VPSidebar::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}



/*!* 隐藏主题默认的更新时间 *!*/
/*.VPLastUpdated{*/
/*    display: none;*/
/*}*/

.VPDoc .content-container{ /* 文档页 容器  */
    font-size: var(--font-size-content) !important;
    max-width: 100% !important;
}
.aside .aside-container{ /* 文档页 目录宽度 */
    width: 365px;
}
.VPDoc .VPDocOutlineItem .outline-link{  /* 文档页 目录字体大小 */
    font-size: var(--font-size-sidebar) ;
}

.search-input{
    padding: 12px 12px !important;
    font-size: 20px !important;
}

.outline-link:hover, .outline-link.active {
    font-weight: 500;
}

/* 左上角网站名称 */
.VPNavBarTitle span {
    font-size: 22px !important;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
    -webkit-text-fill-color: transparent;
}
.VPNavBarTitle .title{
    border-bottom: none;
}

/* Git最后更新时间 */
.LastUpdated {
    font-size: .9rem;
    /*float: right;*/
    text-align: right;
    color: rgba(60, 60, 67, 0.56);

    margin-top: -54px; /* 负边距来填充预留空间 */
    margin-bottom: 30px;
    min-height: 24px; /* 确保即使没有内容也保持高度 */
}

.views{
    margin-left: .7rem;
    display: inline-flex; /* 使内容和背景图可以并排显示 */
    align-items: center; /* 图标和文字垂直居中 */
    background-image: url('/view.svg'); /* 指定图标路径 */
    background-repeat: no-repeat; /* 不重复显示 */
    background-size: 1.2rem; /* 设置图标大小 */
    background-position: left center; /* 图标居左并垂直居中 */
    padding-left: 1.5rem; /* 给文字留出空间 */
}

.vp-doc h1 {
    margin-bottom: 65px; /* 为 LastUpdated div 预留空间 */
    font-size: 2.4rem;;
}

.vp-doc h2 {
    margin-top: 36px;
    margin-bottom: 16px;
    border-top: none !important;
    padding-top: 0px;
    font-size: 1.8rem;;
}

.vp-doc h3 {
    font-size: 1.4rem;
    margin-top: 36px;
    margin-bottom: 16px;
}

.vp-doc h4{
    font-size: 1.2rem;
    margin-top: 32px;
    margin-bottom: 16px;
}

.vp-doc h2 .header-anchor {
     top: 0px;
}



/* Markdown引用符号样式 */
.vp-doc blockquote {
    padding: 10px 16px;
    position: relative;

    border-radius: 8px;
    color: #275796;
    background-color: #e8f4fc;
    border-left: none;
}

mark {
    background: none; /* 去除默认的黄色背景 */
    color: red; /* 设置文字为红色 */
    /*font-weight: bold; !* 可选：加粗文字 *!*/
}

/* 行级代码样式 */
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code{
    /*color: #d9702b;*/
    /*background: #f8f9fa;*/
    margin: 0 3px;
    color: #ec6e30;
    background: #f8f8fe;

    /*color: #444746;*/
    /*background: #e9eef6;*/
}

/* 块代码样式 */
.vp-doc code {
    font-weight: bold;
}

.vp-doc .custom-block div[class*=language-] code {
    font-weight: bold;
}

.custom-block.details{
    font-size: var(--font-size-content);
    background-color: var(--vp-custom-block-code) ;
    color: var(--vp-c-brand-2);
}

/* 代码块样式 */
.vp-doc div[class*='language-'] {
    /*background-color: #f8f8fe !important;*/
    background-color: var(--vp-custom-block-code) !important;

    margin: 16px 0px;
    border-radius: 12px;
    padding: 0 10px;
}

/* 代码块 行号样式 */
.vp-doc .line-numbers-wrapper{
    border-right: 3px solid var(--vp-c-bg);
}

/* 表格头  */
.vp-doc th{
    color: var(--vp-c-text-1);
    background-color: var(var(--vp-custom-block-code)) ;
}

/* 表格双数行 样式 */
.vp-doc tr:nth-child(2n){
    background-color: var(--vp-c-bg);
}

.vp-doc p,.vp-doc ul {
    margin: 10px 0px;
    /*margin-top: 0px;*/
    /*margin-bottom: 12px;*/
}

.vp-doc p,.vp-doc ul,.vp-doc ol{
    /*letter-spacing:0.2px;*/
    /*letter-spacing:normal;*/
}

.vp-doc .task-list-item::marker{
    content: "";
}

input[type="checkbox"]{
    display: inline-block;
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    margin-left: -2em;

}

.vp-doc a {
    color: var(--custom-a-1);
    text-decoration: none;

    /* 修复app端 超出页面长度的BUG */
    /* url强制换行 */
    word-wrap:break-word;
    word-break:break-all;
}
.vp-doc a:hover {
    text-decoration: underline;
}



/* 目录标记样式 */
.outline-marker{
    background-color: #30a46c !important;
    width: 2px !important;
}



/* 图片层级 */
.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    margin-bottom: 10px;
    /*box-shadow: 1px 2px 5px #0006;*/
    z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}


/* 侧边栏 文件夹样式*/
.VPSidebarItem h2[class='text'],
.VPSidebarItem h3[class='text']{
    /*font-weight: 600 !important;*/
    font-size: 1.2rem ;
    color: var(--vp-c-text-1) !important;
}
.VPSidebarItem h4[class='text']{
    font-size: 1.1rem;
    color: var(--vp-c-text-1) !important;
}
/* 侧边栏 文章标题样式*/
.VPSidebarItem p[class='text']{
    /*font-weight: 500 !important;*/
    font-size: 1rem ;
    /*color: var(--custom-a-1) !important;*/

    /* 超出换行，并以省略号显示 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.VPSidebarItem .VPLink{
    width: 100%;
}

/* 导航栏样式 */
.VPNavBarMenuLink{
    /*color: var(--vp-c-text-2) !important;*/
    font-weight: 600 !important;
    font-size: 1rem !important
}
.VPNavBarMenuLink.active {
   color: var(--custom-a-1) !important;
}

.VPNavBarMenuLink:hover {
    color: var(--custom-a-1) !important;
}

.VPNavScreenMenuLink{
    font-size: 1rem !important;
    font-weight: 600 !important;
}

/* 首页下滑后导航透明 */
/*.VPNavBar:not(.has-sidebar):not(.home.top) {*/
.VPNavBar {
    background-color: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(10px);
}

/* 搜索框透明 */
.DocSearch-Button {
    background-color: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(10px);
    height: 40px;
}

.DocSearch-Button:hover{
    border-color: #eee !important;
}

/* Feature透明 */
.VPFeature {
    border: none !important;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 15%);
    background-color: transparent !important;;
}

/* 文档页侧边栏顶部透明 */
.curtain {
    background-color: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(10px) !important;
    top: calc(var(--vp-nav-height)* -1) !important;
}


/* 移动端大纲栏透明 */
.VPLocalNav {
    background-color: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(10px);
    border-bottom: none !important;
}

.divider,.divider-line{
    display: none;
}

.dark {
    --vp-c-brand-1: #3dd68c;
    --vp-c-brand-2: #30a46c;
    --vp-c-brand-3: #298459;
}



