baizer.info www.baizer.info {
    root * /srv #指定静态文件的根目录。
    file_server #启用静态文件服务器功能。
    encode gzip #启用 gzip 压缩，减少文件传输的大小，从而加速加载

    # 添加反向代理，将 /proxy 的请求转发到 JS 服务
    route /proxy/* {
        uri strip_prefix /proxy # 去掉 /proxy 前缀
        reverse_proxy view-service:3000 # 注意配置的容器名
    }
}